body{
    font-family: 'Roboto', sans-serif;
}


.header{
    background: black;
    color: snow;
}


.header-path{
    color: snow;
}

.header-path:hover{
    color: snow;
    filter: brightness(85%);
}

#header-brand{
    font-size: 24px;
}

.transbox{
    background-color: snow;
    opacity: 0.3;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,250,250, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
  

p, h1, h3, label{
    color: snow;
}

canvas {
    background: black;
    position: fixed;
    z-index: -9999;
}